@import '../../node_modules/react-pro-sidebar/dist/scss/styles.scss';

#header {
    position: absolute;
    width: 280px;
}

#header .closemenu {
    color: rgb(161, 161, 161);
    position: absolute;
    right: 0;
    z-index: 1;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
}

#header .pro-sidebar {
    width: 100%;
    min-width: 100%;
    height: 100vh;
}

#header .pro-sidebar.collapsed {
    width: 50px;
    min-width: 50px;
}

#header .pro-sidebar-inner {
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}

#header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
}

#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: rgba(252, 252, 252, 0.521);
    font-weight: bold;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: rgb(212, 212, 212);
    margin: 10px 0px;
    font-weight: bold;
}